.env

node_modules

bundle.js
bundle-prod.js
server/db/restaurant.json

coverage/
server/.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
