.env

node_modules
dump.rdb
bundle.js
bundle-prod.js
server/db/restaurant.json
**/.DS_Store

coverage/
server/.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
